<table>
  <tr>
    <td><h3><%= @greeting %></h3></td>
  </tr>
  <tr>
    <td><p><strong>Welcome to the RSC Committee Reporting Tool! This simple-to-use portal will allow you to submit an
      distribute your
      RSC subcommittee members and the RSC secretary.</strong></p></td>
  </tr>
  <tr>
    <td><h4> To Submit a New Report</h4></td>
  </tr>
  <tr>
    <td>
      <ol>
        <li>Click on 'Submit New Report'</li>
        <li>Fill out the fields for your report and click on 'Submit Your Report'</li>
        <li>You're done!</li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>Your report will automatically be submitted to your committee members.</strong></p>
    </td>
  </tr>
  <tr>
    <td>
      <h4> To Edit a Report</h4>
    </td>
  </tr>
  <tr>
    <td>
      <ol>
        <li>Click on 'Find a Submitted Report'</li>
        <li>Click on the link 'Edit Report' <i>(** NOTE: YOU MUST BE THE AUTHOR OF THE REPORT TO EDIT)</i></li>
        <li>Make the corrections you would like to make and click on 'Submit Your Report'</li>
        <li>You're done!</li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>If you have any issues or would like to report a bug, please send an email to #FIX ME </strong></p>
    </td>
  </tr>
</table>