<div class="container">
  <div class="jumbotron" id="admin-header">
    <h1 align="center">Admin Dashboard</h1>
    <p align="center"><strong>Edit Members, Groups and Committees</strong></p>
  </div>
  <div class="row">
    <h2>Edit Members</h2>
    <div id="member-pagination">
      <%= paginate @users, param_name: :member_page, remote: true %>
    </div>
    <div id="member-table">
      <%= render partial: 'member_table_partial', locals: {users: @users} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Edit Groups</h2>
      <div id="group-pagination">
        <%= paginate @groups, param_name: :group_page, remote: true %>
      </div>
      <div id="group-table">
        <%= render partial: 'group_table_partial', locals: {groups: @groups} %>
      </div>
    </div>
  </div>
</div>