<div class="container">
  <div class="row" id="admin-header">
    <h2 align="center">Admin Dashboard</h2>
  </div>
  <div class="row">
    <div id="member-pagination">
      <%= paginate @users, param_name: :member_page, remote: true %>
    </div>
    <div id="member-table">
      <%= render partial: 'member_table_partial', locals: {users: @users} %>
    </div>
  </div>
  <div class="row">
    <div id="group-pagination">
      <%= paginate @groups, param_name: :group_page, remote: true %>
    </div>
    <div id="group-table">
      <%= render partial: 'group_table_partial', locals: {groups: @groups} %>
    </div>
  </div>
</div>