<table class="table table-hover table-bordered">
  <thead>
  <th>Name</th>
  <th>Submit</th>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
      <%= form_for group, url: edit_group_path(group), method: :put, remote: true do |f| %>
          <tr>
            <td><%= f.text_field :name, class: 'form-control' %></td>
            <td><%= f.submit class: 'btn btn-primary btn-sm' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<script>
    $('select').selectpicker();
</script>