<div class="col-lg-12">
  <div class="jumbotron" id="admin-header">
    <h1 align="center">Admin Group Dashboard</h1>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <h2 align="center">Edit Groups</h2>
    <div id="member-pagination">
      <%= paginate @groups %>
    </div>
    <div id="member-table">
      <%= render partial: 'group_table_partial', locals: {users: @users} %>
    </div>
  </div>
</div>