<div class="jumbotron" id="welcome-header">
  <h1 class="welcome-text">Welcome to the RSC <br /> Meeting Report Tool</h1>
  <p class="welcome-text"> This tool is designed to make creating and submitting reports for your subcommittee
    simple and easy!</p>
</div>
<div id="welcome-body">
  <div class="row center-block">
    <% if current_user.can_report%>
    <div class="col-md-3 col-md-offset-3">
      <%= link_to 'Submit A New Report', new_report_path, class: 'btn btn-primary btn-block welcome-button', data: {toggle: 'tooltip', placement: 'bottom', title: new_report_tooltip} %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Find A Submitted Report', reports_path, class: 'btn btn-info btn-block welcome-button', data: {toggle: 'tooltip', html: true, placement: 'bottom', title: find_report_tooltip} %>
    </div>
    <% end %>
  </div>
</div>