<div class="jumbotron" id="welcome-header">
  <h1 class="welcome-text">Welcome to the RSC <br /> Meeting Report Tool</h1>
  <p class="welcome-text"> This tool is designed to make creating and submitting reports for your subcommittee
    simple and easy!</p>
</div>
<div id="welcome-body">
  <div class="btn-group btn-group-justified">
    <% if current_user.can_report%>
      <%= link_to 'Submit A Sub-Committee Report', new_sub_committee_report_path, class: 'btn btn-primary btn-block welcome-button', data: {toggle: 'tooltip', placement: 'bottom', title: new_report_tooltip} %>
      <%= link_to 'Find A Submitted Sub-Committee Report', sub_committee_reports_path, class: 'btn btn-info btn-block welcome-button', data: {toggle: 'tooltip', html: true, placement: 'bottom', title: find_report_tooltip} %>
      <%= link_to 'Submit An Area Report', new_sub_committee_report_path, class: 'btn btn-primary btn-block welcome-button', data: {toggle: 'tooltip', placement: 'bottom', title: new_report_tooltip} %>
      <%= link_to 'Find A Submitted Area Report', sub_committee_reports_path, class: 'btn btn-info btn-block welcome-button', data: {toggle: 'tooltip', html: true, placement: 'bottom', title: find_report_tooltip} %>
    <% end %>
  </div>
</div>