<div class="chart">
  <%= column_chart @donations %>
  <%= form_tag(refresh_charts_path, method: :get, id: 'chart-select') do %>
    <strong>Show Data for Month: </strong> <%= select_month @month %>
  <% end %>
</div>
