@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "tether";


@import "welcome";
@import "reports";
@import "admin";

#nav-bar-img {
  margin-top: -13px;
}

#shared-devise-links {
  margin-left: 10px;
}

table {
  table-layout:fixed;
  width:50%;
}

@media screen and (max-width: 480px){
  .hide-content {
    display: none;
  }
}