<h4>Monthly Donations</h4>
<%= link_to 'Monthly Donations By Specific Group', reports_monthly_chart_for_group_path %> |
<%= link_to 'Monthly Donations By All Groups', reports_monthly_chart_for_all_groups_path %>
