<div class="jumbotron">
  <h2 align="center">Regional/Area/Subcommitee Reports</h2>
</div>

<table class="table table-striped table-hover datatable" id="reports-table">
  <thead>
  <tr>
    <th> Title</th>
    <th> Committee</th>
    <th> Submitted</th>
    <th> Last Updated At</th>
  </tr>
  </thead>
  <tbody>
  <% @reports.each do |r| %>
      <tr>
        <td><%= link_to r.title, report_path(r) %></td>
        <td><%= r.committee %></td>
        <td><%= r.created_at.strftime('%b %d, %Y') %></td>
        <td><%= r.updated_at.strftime('%b %d, %Y') %></td>
      </tr>
  <% end %>
  </tbody>
</table>